A4/stepfunction_definition.txt.txt
{
  "Comment": "A description of my state machine",
  "StartAt": "Choice",
  "States": {
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.action",
          "StringEquals": "sha256",
          "Next": "SHA256"
        },
        {
          "Variable": "$.action",
          "StringEquals": "md5",
          "Next": "MD5"
        },
        {
          "Variable": "$.action",
          "StringEquals": "bcrypt",
          "Next": "BCRYPT"
        }
      ]
    },
    "SHA256": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:673619607849:function:lambda256:$LATEST"
      },
      "End": true
    },
    "MD5": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:673619607849:function:lambdamd5:$LATEST"
      },
      "End": true
    },
    "BCRYPT": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:673619607849:function:lambdabcrypt:$LATEST"
      },
      "End": true
    }
  }
}
